# python
.env
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
dist/
*.egg-info/

# java
target/
*.class
*.jar
!**/src/main/**/target/
!**/src/test/**/target/

# node / react
node_modules/
.next/
build/
.env.local

# ide
.idea/
.vscode/
*.iml

# os
.DS_Store
Thumbs.db
